[supervisord]
nodaemon=true
pidfile=/tmp/supervisord.pid
logfile=/tmp/supervisord.log

[program:Xvfb-zandronum]
command=Xvfb :${DISPLAY_PORT} -screen ${DISPLAY_PORT} "${DISPLAY_WIDTH}"x"${DISPLAY_HEIGHT}"x24 -listen tcp -noreset
priority=2
stdout_logfile=/tmp/xvfb-zandronum.log
redirect_stderr=true

[program:x11vnc-zandronum]
command=x11vnc -display :${DISPLAY_PORT} -rfbport ${RFB_PORT} -forever -shared
priority=3
stdout_logfile=/tmp/x11vnc-zandronum.log
redirect_stderr=true

[program:websockify_vnc]
command=websockify --web /usr/share/novnc ${NOVNC_PORT} localhost:${RFB_PORT}
priority=4
stdout_logfile=/tmp/websockify-vnc.log
redirect_stderr=true
